<h4>Search a geek</h4>
<div ng-controller="searchCtrl">
	<form class="simple-form">
		<div class="container">
	    	<div class="row-fluid">
				<div class="span6">
					<label>Gender</label><br />
					<select>
						<option value="1">Male</option>
						<option value="2">Female</option>
			     	</select>
				</div>
				<br />
				<div class="span6">
					<label>Interests</label><br />
					<select>
						<option ng-repeat="centreInteret in centreInterets" value="http://test.com">{{centreInteret.libelle}}</option>
			     	</select>
				</div>
					
			</div>
		</div>
		<div>
			<button type="submit" class="btn btn-default">Rechercher</button>
		</div>
	</form>
</div>

